
/*👉@font-face { 
    font-family: "Hurmit"; 
    src: url("./../../../../www/HurmitNerdFont-Regular.otf"); 
}
@font-face { 
    font-family: "Hurmit"; 
    src: url("./../../../../www/HurmitNerdFont-Bold.otf"); 
    font-weight: bold;
}👈*/



html * {
    box-sizing: border-box;
}

html {
    /* height: 100%; */
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    --app-region: drag;
    -webkit-app-region: drag;
    font-size: large;
    /* text-align: center; */
    font-family: "Hurmit", "Arial";
    color: rgb(37, 37, 37);
    /* font-weight: 200; */
    /* background-color: yellow; */
    position: relative;

}


body{
    height: 100%;
    margin: 0;
    padding: 0;
 
    background-image: linear-gradient(63deg, #86a868 25%, #619c69 25%, #619c69 50%, #86a868 50%, #86a868 75%, #619c69 75%, #619c69 100%);
    background-size: 92.03px 180.62px;

}

.wrapAll{
    min-height: 100vh;
    /* min-width: 100vw; */
    /* padding: 8px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    /* min-height: 10vh; */
    /* padding: 0 10px; */
    font-size: medium;
    text-align: center;
}


input, a, button {
    --app-region: no-drag;
    -webkit-app-region: no-drag;
}

/* &#x2715;
* https://stackoverflow.com/questions/5353461/unicode-character-for-x-cancel-close
*/
#close{
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: auto;
    height: auto;
    /* background-color: gray; */
    text-align: right;
    margin: 1px 4px 4px 4px;
    cursor: pointer;
    
}

#close::before { 
    content: '\2715';
    font: normal 1em/1 Arial, sans-serif;
}
#close:hover{
    color: rgb(223, 26, 26);
}


.green{
    color: rgb(177, 63, 14);
    font-weight: bold;
}


.green a:link, .green a:visited, .green a:active{
    color:rgb(187, 71, 8);
}

h3{
    margin-bottom: 20px;
    margin-top: 4px;
    text-align: center;
    font-size: 100%;
}




ul{
    display: block;
    width: 97%;
    /* background-color: red; */
    margin: 0 auto;
}

li{
    margin-bottom: 10px;
}



footer{
    /* background-color: green; */
    text-align: center;
    font-size: small;
    margin-bottom: 4px;
}